body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(
        to bottom,
        aqua,
        lightblue
    )
}
input{
    position: absolute;
    background-color: white;body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, aqua, lightblue);
}

div {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 2px solid black;
}

img {
    position: absolute;
    top: 0;
    left: 0;        /* left:0 add karo */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img:first-of-type {
    object-position: left;
    clip: rect(0, 400px, 500px, 0);  /* BEFORE - left side */
}

img:last-of-type {
    object-position: right;           /* AFTER - right side */
}

input {
    position: absolute;
    top: 0;
    left: 400px;        /* Default middle */
    width: 5px;
    height: 100%;       /* YEH IMPORTANT */
    background-color: white;
    border: 1px solid black;
    background-image: url(splitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: ew-resize;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    z-index: 10;
}

/* Remove default input styles */
input:focus {
    outline: none;
}
    left: 400px;
    border: 1px solid black;
    background-image: url('splitter.svg');
    width: 5px;
}
div{
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 2px solid black;
}
img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;

}
img:first-of-type{
    object-position: left;

}
img:last-of-type{
    object-position: right;
}

